<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="materialize/materialize.min.css">
    <script src="js/sidebar.js"></script>
    <link rel="stylesheet" href="css/sidebar.css">
    <link rel="stylesheet" href="css/custom.css">
    <link rel="stylesheet" href="gridstack/gridstack.css" />
    <script src="gridstack/jQuery.js"></script>
    <script src="gridstack/gridstack_all.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="materialize/materialize.js"></script>
    <title>Document</title>
    
    <link rel="stylesheet" href="css/blackThema.css"/>
    <link rel="stylesheet" href="css/whiteThema.css"/>
</head>
<body>
    <div class="dashboard-sidebar">
        <div class="dashboard-sidebar-logo">
            <span ><a class=""><i class="material-icons">dashboard</i></a></span>
        </div>
        <div class="dashboard-sidebar-header">
            <div class="dashboard-sidebar-body">
                <p><i class="material-icons">featured_play_list</i><span class="dashboard-sidebar-body-content">Hello</span></p>
                <p><i class="material-icons">grid_on</i><span class="dashboard-sidebar-body-content">It's<span></p>
                <p><i class="material-icons">web</i><span class="dashboard-sidebar-body-content">Me<span></p>
            </div>
            <div class="dashboard-sidebar-footer">
                <p>
                    <!-- Switch -->
                    <span class="switch" id="themeSwitch">
                        <label>
                        <input type="checkbox" checked>
                        <span class="lever"></span>
                        </label>
                    </span>
                    <span style="font-size: 0.8em; margin-left:120px;">
                        <a href="#"><i class="material-icons">add</i></a>
                    </span>
                </p>
            </div>
        </div>
    </div> 
    <div id="body-shade">asd</div>
    <nav class="side-menu" role="navigation">            
        <ul>
            <li><a href="#">Item 1</a></li>
            <li><a href="#">Item 2</a></li>
            <li><a href="#">Item 3</a></li>
        </ul>
    </nav>
    <div style="margin-left:100px;">
        <div class="dashboard-header">
            <span style="color: #a6a6b5; width:200px; text-align: center; font-size: 1.8em;">Dashboard</span>

            <ul id="widget-dropdown" class="dropdown-content">
                <li><a href="#!">one</a></li>
                <li><a href="#!">two</a></li>
                <li><a href="#!">three</a></li>
            </ul>
            <a class="widget-dropdown-btn dropdown-trigger" href="#!" data-target="widget-dropdown"><span style="vertical-align: middle">위젯</span><i class="material-icons right">arrow_drop_down</i></a>
            <a class="header-btn compact-trigger" href="#!"><span>정렬</span><i class="material-icons right">clear_all</i></a>
            <a class="header-btn save-trigger" href="#!"><span>저장</span><i class="material-icons right">save</i></a>
        </div>

        <div class="dashboard-body">

            <div class="grid-stack">

            </div>
            
        </div>
    </div>
    <script>
        var grid;
        $(document).ready(function() {
            $('.grid-stack').gridstack({
                resizable: {
                    handles: 'se, sw'
                },
                float: true
            });

            var el = `<div style="overflow:hidden;" class="grid-stack-item"  data-gs-width="5" data-gs-height="5" data-gs-x="6" data-gs-y="3" data-gs-min-width="2" data-gs-min-height="3">
                <div class="item-content grid-stack-item-content" style="overflow-y: hidden;">
                    <header class="item-contents-header">{inputData.title}
                        <div class="item-contents-edit">
                            <i class="material-icons" style="font-size: 1.2em; position: relative;">build</i> 
                            <i class="material-icons">cancel</i>
                        </div>
                    </header>
                    <div id="dialog_4563" class="editDialog" style="display:none;">
                        <div class="editDialog_detail">
                            3456
                            <button onclick="editContents()">적용</button>
                        </div>
                    </div>
                    <div id='contents' style="height: 93%;">
                    </div> 
                </div>
            </div>`
            grid= $('.grid-stack').data('gridstack');
            //addWidget = //(x, y, w, h, boolean, minW. maxW, minH, MaxW)
            grid.addWidget(el, 0, 0, 1, 1, false, 2, 12, 3, 12);
            grid.addWidget(el, 5, 5, 1, 4, false, 2, 12, 3, 12);   
            grid.addWidget(el, 5, 1, 1, 1, false, 2, 12, 3, 12); 
        });

        //드롭다운
        $('.dropdown-trigger').dropdown();

        //정렬
        $('.compact-trigger').click(function() {
            grid.compact();
        });

        $('#themeSwitch').change(function (e) {
            if($(e.target).prop('checked')) {
                //다크
                console.log('다크')
                $('html').attr('thema','')
                $('.dashboard-header').attr('thema','')
                $('.dashboard-body').attr('thema','')
                $('.item-content').attr('thema','')
                $('.item-contents-header').attr('thema','')
                $('.item-contents-edit').attr('thema','')
                $('.header-btn').attr('thema','')
                $('.widget-dropdown-btn').attr('thema','')
                $('.dashboard-sidebar-logo').attr('thema','')
                $('.dashboard-sidebar-header').attr('thema','')

            } else {
                //화이트
                console.log('화이트')
                $('html').attr('thema','white')
                $('.dashboard-header').attr('thema','white')
                $('.dashboard-body').attr('thema','white')
                $('.item-content').attr('thema','white')
                $('.item-contents-header').attr('thema','white')
                $('.item-contents-edit').attr('thema','white')
                $('.header-btn').attr('thema','white')
                $('.widget-dropdown-btn').attr('thema','white')
                $('.dashboard-sidebar-logo').attr('thema','white')
                $('.dashboard-sidebar-header').attr('thema','white')
            }
        })
    </script>
</body>
</html>